

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.drop{
  margin-right: 31px;
  margin-left: 30px;
}
.bg-main{
  background-image: url('./images/Back\ Ground.png');
  background-size: cover;
  background-repeat: no-repeat;
}
h2{
  width: 387px;
  height: 32px;
  margin-top: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;


}
.sub-main{
display: flex;
flex-direction: row;
justify-content: center;
align-items: left;
padding: 0px;
gap: 8px;
}
.tag{
  position: absolute;
width: 121px;
height: 24px;
margin-left: 120px;
margin-bottom: 43px;


background: #F77171;
border-radius: 0px 0px 4px 4px;
}
.tag2{
  position: absolute;
width: 120px;
height: 24px;
margin-left: 120px;

margin-bottom: 43px;
background:rgb(15, 203, 15);
border-radius: 0px 0px 4px 4px;
}
.time{
  background:linear-gradient(135deg, rgba(222, 67, 19, 0.2) 0%, rgba(222, 67, 19, 0.2) 0.75%, rgba(222, 67, 19, 0.2) 2.92%, rgba(222, 68, 20, 0.2) 6.37%, rgba(223, 69, 21, 0.2) 10.97%, rgba(223, 72, 22, 0.2) 16.59%, rgba(224, 75, 24, 0.2) 23.1%, rgba(225, 80, 27, 0.2) 30.37%, rgba(227, 86, 31, 0.2) 38.27%, rgba(229, 94, 36, 0.2) 46.66%, rgba(231, 104, 43, 0.2) 55.41%, rgba(235, 117, 51, 0.2) 64.39%, rgba(238, 132, 60, 0.2) 73.47%, rgba(243, 149, 71, 0.2) 82.52%, rgba(248, 169, 84, 0.2) 91.41%, rgba(254, 193, 99, 0.2) 100%);
}

